In [9]:
# Import Dependencies
import csv
import json
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from config import db_password

In [10]:
# Load in the data set from local Resources folder
file_path = "./Resources/Austin_Crime_Report_Occurance_Reported_2017_to_2022_cleaned.csv"
crime_df = pd.read_csv(file_path, low_memory=False)
crime_df.head()

,Incident Number,Highest Offense Description,Highest Offense Code,Family Violence,Occurred Date Time,Occurred Date,Occurred Time,Report Date Time,Report Date,Report Time,...,Census Tract,Clearance Status,Clearance Date,UCR Category,Category Description,X-coordinate,Y-coordinate,Latitude,Longitude,Location
0,2.017471e+09,THEFT,600,N,2/16/17 18:00,2/16/17,1800,2/16/17 18:22,2/16/17,1822,...,21.00,N,3/29/17,23H,Theft,3128234.0,3128234.0,30.274788,-97.698514,"(30.27478825, -97.69851396)"
1,2.017217e+10,THEFT BY SHOPLIFTING,607,N,8/5/17 18:00,8/5/17,1800,8/5/17 18:00,8/5/17,1800,...,19.10,C,8/5/17,23C,Theft,3094135.0,3094135.0,30.257886,-97.807007,"(30.25788603, -97.80700704)"
2,2.020505e+10,THEFT BY SHOPLIFTING,607,N,11/20/20 13:30,11/20/20,1330,11/20/20 15:22,11/20/20,1522,...,24.37,N,11/23/20,23C,Theft,3099306.0,3099306.0,30.162911,-97.793123,"(30.16291061, -97.79312325)"
3,2.019144e+10,AUTO THEFT,700,N,5/23/19 20:00,5/23/19,2000,5/24/19 13:43,5/24/19,1343,...,6.00,N,7/2/19,240,Auto Theft,3112186.0,3112186.0,30.284284,-97.749112,"(30.28428417, -97.74911194)"
4,2.017505e+10,BURGLARY OF VEHICLE,601,N,12/19/17 22:00,12/19/17,2200,12/20/17 6:26,12/20/17,626,...,23.13,N,12/21/17,23F,Theft,3118326.0,3118326.0,30.228133,-97.731168,"(30.22813316, -97.73116767)"

In [11]:
# Check to make sure it's loaded in correctly
crime_df.tail()

,Incident Number,Highest Offense Description,Highest Offense Code,Family Violence,Occurred Date Time,Occurred Date,Occurred Time,Report Date Time,Report Date,Report Time,...,Census Tract,Clearance Status,Clearance Date,UCR Category,Category Description,X-coordinate,Y-coordinate,Latitude,Longitude,Location
200907,2.018241e+10,BURGLARY OF VEHICLE,601,N,8/29/18 21:35,8/29/18,2135,8/29/18 21:35,8/29/18,2135,...,404.00,N,9/10/18,23F,Theft,3117212.0,3117212.0,30.356741,-97.731231,"(30.35674066, -97.73123102)"
200908,2.018501e+10,THEFT,600,N,3/30/18 19:00,3/30/18,1900,4/4/18 10:38,4/4/18,1038,...,21.00,N,6/19/18,23H,Theft,3135249.0,3135249.0,30.295630,-97.675711,"(30.29563003, -97.67571118)"
200909,2.022503e+10,THEFT OF TRAILER,613,N,9/14/22 0:00,9/14/22,0,9/26/22 15:55,9/26/22,1555,...,404.00,N,10/18/22,23H,Theft,3115487.0,3115487.0,30.365972,-97.736453,"(30.36597218, -97.73645321)"
200910,2.022262e+10,AUTO THEFT,700,N,9/19/22 11:00,9/19/22,1100,9/19/22 11:00,9/19/22,1100,...,24.22,N,9/22/22,240,Auto Theft,3101951.0,3101951.0,30.178943,-97.784329,"(30.17894323, -97.78432885)"
200911,2.022214e+10,BURGLARY NON RESIDENCE,502,N,8/2/22 4:14,8/2/22,414,8/2/22 4:14,8/2/22,414,...,24.10,N,10/17/22,220,Burglary,3101116.0,3101116.0,30.201567,-97.786376,"(30.20156664, -97.78637581)"

In [12]:
# Check to make sure it's loaded in correctly
crime_df.sample(5)

,Incident Number,Highest Offense Description,Highest Offense Code,Family Violence,Occurred Date Time,Occurred Date,Occurred Time,Report Date Time,Report Date,Report Time,...,Census Tract,Clearance Status,Clearance Date,UCR Category,Category Description,X-coordinate,Y-coordinate,Latitude,Longitude,Location
113587,2.021305e+10,AUTO THEFT,700,N,11/1/21 17:54,11/1/21,1754,11/1/21 17:54,11/1/21,1754,...,420.0,N,11/4/21,240,Auto Theft,3124861.0,3124861.0,30.427529,-97.705044,"(30.42752937, -97.70504365)"
196552,2.018503e+10,THEFT,600,N,7/10/18 12:00,7/10/18,1200,8/22/18 15:44,8/22/18,1544,...,410.0,N,10/23/18,23H,Theft,3132476.0,3132476.0,30.367732,-97.682520,"(30.36773201, -97.6825198)"
40884,2.018193e+10,THEFT BY SHOPLIFTING,607,N,7/12/18 19:15,7/12/18,1915,7/12/18 19:15,7/12/18,1915,...,12.0,C,7/12/18,23C,Theft,3110741.0,3110741.0,30.270569,-97.754058,"(30.27056889, -97.75405771)"
114797,2.020503e+10,THEFT,600,N,8/11/20 19:00,8/11/20,1900,8/13/20 8:55,8/13/20,855,...,15.0,N,8/13/20,23H,Theft,3120345.0,3120345.0,30.337536,-97.721815,"(30.33753602, -97.72181485)"
161102,2.018117e+10,BURGLARY NON RESIDENCE,502,N,4/27/18 12:00,4/27/18,1200,4/27/18 12:55,4/27/18,1255,...,346.0,N,7/5/18,220,Burglary,3081086.0,3081086.0,30.420047,-97.844167,"(30.42004712, -97.84416748)"

In [13]:
# Print list of columns 
crime_df.columns

Index(['Incident Number', 'Highest Offense Description',
       'Highest Offense Code', 'Family Violence', 'Occurred Date Time',
       'Occurred Date', 'Occurred Time', 'Report Date Time', 'Report Date',
       'Report Time', 'Location Type', 'Address', 'Zip Code',
       'Council District', 'APD Sector', 'APD District', 'PRA', 'Census Tract',
       'Clearance Status', 'Clearance Date', 'UCR Category',
       'Category Description', 'X-coordinate', 'Y-coordinate', 'Latitude',
       'Longitude', 'Location'],
      dtype='object')

In [14]:
# Print column data types
crime_df.dtypes

Incident Number                float64
Highest Offense Description     object
Highest Offense Code             int64
Family Violence                 object
Occurred Date Time              object
Occurred Date                   object
Occurred Time                    int64
Report Date Time                object
Report Date                     object
Report Time                      int64
Location Type                   object
Address                         object
Zip Code                       float64
Council District               float64
APD Sector                      object
APD District                    object
PRA                              int64
Census Tract                   float64
Clearance Status                object
Clearance Date                  object
UCR Category                    object
Category Description            object
X-coordinate                   float64
Y-coordinate                   float64
Latitude                       float64
Longitude                      float64
Location                        object
dtype: object

In [15]:
# Find null values
for column in crime_df.columns:
  print(f"Column {column} has {crime_df[column].isnull().sum()} null values")

Column Incident Number has 0 null values
Column Highest Offense Description has 0 null values
Column Highest Offense Code has 0 null values
Column Family Violence has 0 null values
Column Occurred Date Time has 0 null values
Column Occurred Date has 0 null values
Column Occurred Time has 0 null values
Column Report Date Time has 0 null values
Column Report Date has 0 null values
Column Report Time has 0 null values
Column Location Type has 0 null values
Column Address has 0 null values
Column Zip Code has 0 null values
Column Council District has 0 null values
Column APD Sector has 0 null values
Column APD District has 0 null values
Column PRA has 0 null values
Column Census Tract has 0 null values
Column Clearance Status has 0 null values
Column Clearance Date has 0 null values
Column UCR Category has 0 null values
Column Category Description has 0 null values
Column X-coordinate has 0 null values
Column Y-coordinate has 0 null values
Column Latitude has 0 null values
Column Longitude has 0 null values
Column Location has 0 null values

In [16]:
# Drop null rows
crime_df = crime_df.dropna()

In [17]:
# Check for duplicates
print(f"Duplicate entries: {crime_df.duplicated().sum()}")

Duplicate entries: 0

In [18]:
# Save and export the cleaned data as csv file
file_path = "Resources/Austin_Crime_Report_Occurance_Reported_2017_to_2022_cleaned.csv"
crime_df.to_csv(file_path, index=False)

# Merge To Postgres

In [19]:
# Create a connection string
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/crime_data"

In [20]:
# Create database engine
engine = create_engine(db_string)

In [21]:
# Save the DataFrame to SQL table
crime_df.to_sql(name='crime', con=engine)

912