In [1]:
# Import Dependencies
import csv
import json
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from config import db_password

In [2]:
# Load in the data set from local Resources folder
file_path = "Resources/Austin_Crime_Report_Occurance_Reported_2017_to_2022.csv"
crime_df = pd.read_csv(file_path, low_memory=False)
crime_df.head()

,Incident Number,Highest Offense Description,Highest Offense Code,Family Violence,Occurred Date Time,Occurred Date,Occurred Time,Report Date Time,Report Date,Report Time,...,Census Tract,Clearance Status,Clearance Date,UCR Category,Category Description,X-coordinate,Y-coordinate,Latitude,Longitude,Location
0,2017471291,THEFT,600,N,02/16/2017 06:00:00 PM,02/16/2017,1800,02/16/2017 06:22:00 PM,02/16/2017,1822,...,21.0,N,03/29/2017,23H,Theft,3128234.0,3128234.0,30.274788,-97.698514,"(30.27478825, -97.69851396)"
1,20172171183,THEFT BY SHOPLIFTING,607,N,08/05/2017 06:00:00 PM,08/05/2017,1800,08/05/2017 06:00:00 PM,08/05/2017,1800,...,19.1,C,08/05/2017,23C,Theft,3094135.0,3094135.0,30.257886,-97.807007,"(30.25788603, -97.80700704)"
2,2020920052,DATING DISTURBANCE,2400,N,04/01/2020 01:08:00 AM,04/01/2020,108,04/01/2020 01:08:00 AM,04/01/2020,108,...,323.0,NaN,NaN,NaN,NaN,3110586.0,3110586.0,30.354468,-97.752306,"(30.35446843, -97.75230576)"
3,20195029591,CHILD CUSTODY INTERFERE,2001,N,02/01/2019 09:01:00 AM,02/01/2019,901,07/20/2019 09:01:00 AM,07/20/2019,901,...,8.0,N,07/30/2019,NaN,NaN,3119945.0,3119945.0,30.272703,-97.724836,"(30.27270295, -97.72483619)"
4,20175013436,CRIMINAL MISCHIEF,1400,N,03/31/2017 06:00:00 PM,03/31/2017,1800,04/01/2017 02:45:00 AM,04/01/2017,245,...,11.0,N,04/04/2017,NaN,NaN,3113988.0,3113988.0,30.271736,-97.743738,"(30.27173592, -97.74373796)"

In [3]:
# Check to make sure it's loaded in correctly
crime_df.tail()

,Incident Number,Highest Offense Description,Highest Offense Code,Family Violence,Occurred Date Time,Occurred Date,Occurred Time,Report Date Time,Report Date,Report Time,...,Census Tract,Clearance Status,Clearance Date,UCR Category,Category Description,X-coordinate,Y-coordinate,Latitude,Longitude,Location
560207,20222170969,FAMILY DISTURBANCE,3400,N,08/05/2022 05:09:00 PM,08/05/2022,1709,08/05/2022 05:09:00 PM,08/05/2022,1709,...,408.00,N,10/20/2022,NaN,NaN,3124364.0,3124364.0,30.384064,-97.707805,"(30.38406397, -97.70780505)"
560208,20183140685,FAMILY DISTURBANCE,3400,N,11/10/2018 10:56:00 AM,11/10/2018,1056,11/10/2018 10:56:00 AM,11/10/2018,1056,...,442.00,NaN,NaN,NaN,NaN,3137385.0,3137385.0,30.429261,-97.665247,"(30.42926059, -97.66524703)"
560209,20222620515,AUTO THEFT,700,N,09/19/2022 11:00:00 AM,09/19/2022,1100,09/19/2022 11:00:00 AM,09/19/2022,1100,...,24.22,N,09/22/2022,240,Auto Theft,3101951.0,3101951.0,30.178943,-97.784329,"(30.17894323, -97.78432885)"
560210,20222641290,VIOL OF PROTECTIVE ORDER,3009,N,09/21/2022 07:45:00 PM,09/21/2022,1945,09/21/2022 09:48:00 PM,09/21/2022,2148,...,205.00,C,10/17/2022,NaN,NaN,3103372.0,3103372.0,30.485438,-97.771706,"(30.48543794, -97.77170565)"
560211,20222140197,BURGLARY NON RESIDENCE,502,N,08/02/2022 04:14:00 AM,08/02/2022,414,08/02/2022 04:14:00 AM,08/02/2022,414,...,24.10,N,10/17/2022,220,Burglary,3101116.0,3101116.0,30.201567,-97.786376,"(30.20156664, -97.78637581)"

In [4]:
# Check to make sure it's loaded in correctly
crime_df.sample(5)

,Incident Number,Highest Offense Description,Highest Offense Code,Family Violence,Occurred Date Time,Occurred Date,Occurred Time,Report Date Time,Report Date,Report Time,...,Census Tract,Clearance Status,Clearance Date,UCR Category,Category Description,X-coordinate,Y-coordinate,Latitude,Longitude,Location
211100,20175032201,BURGLARY OF VEHICLE,601,N,08/10/2017 12:00:00 AM,08/10/2017,0,08/10/2017 12:59:00 PM,08/10/2017,1259,...,453.0,N,08/14/2017,23F,Theft,3123063.0,3123063.0,30.405369,-97.711353,"(30.4053694, -97.71135296)"
30854,20215014188,IDENTITY THEFT,4022,N,04/05/2021 10:11:00 AM,04/05/2021,1011,04/09/2021 10:11:00 AM,04/09/2021,1011,...,24.4,NaN,NaN,NaN,NaN,3114957.0,3114957.0,30.154958,-97.743800,"(30.15495843, -97.74379998)"
5741,20225007165,HARASSMENT,2703,Y,03/05/2022 10:00:00 AM,03/05/2022,1000,03/09/2022 05:12:00 PM,03/09/2022,1712,...,337.0,N,03/21/2022,NaN,NaN,3093632.0,3093632.0,30.434163,-97.803983,"(30.43416264, -97.8039828)"
265427,20171681638,CRIMINAL MISCHIEF,1400,N,06/17/2017 09:39:00 PM,06/17/2017,2139,06/17/2017 09:39:00 PM,06/17/2017,2139,...,22.0,NaN,NaN,NaN,NaN,3140977.0,3140977.0,30.315151,-97.657015,"(30.31515108, -97.65701509)"
16961,20205026491,THEFT,600,N,07/08/2020 02:30:00 PM,07/08/2020,1430,07/08/2020 03:20:00 PM,07/08/2020,1520,...,432.0,N,07/14/2020,23H,Theft,3128227.0,3128227.0,30.346646,-97.696573,"(30.34664576, -97.69657342)"

In [5]:
# Print list of columns 
crime_df.columns

Index(['Incident Number', 'Highest Offense Description',
       'Highest Offense Code', 'Family Violence', 'Occurred Date Time',
       'Occurred Date', 'Occurred Time', 'Report Date Time', 'Report Date',
       'Report Time', 'Location Type', 'Address', 'Zip Code',
       'Council District', 'APD Sector', 'APD District', 'PRA', 'Census Tract',
       'Clearance Status', 'Clearance Date', 'UCR Category',
       'Category Description', 'X-coordinate', 'Y-coordinate', 'Latitude',
       'Longitude', 'Location'],
      dtype='object')

In [6]:
# Print column data types
crime_df.dtypes

Incident Number                  int64
Highest Offense Description     object
Highest Offense Code             int64
Family Violence                 object
Occurred Date Time              object
Occurred Date                   object
Occurred Time                    int64
Report Date Time                object
Report Date                     object
Report Time                      int64
Location Type                   object
Address                         object
Zip Code                       float64
Council District               float64
APD Sector                      object
APD District                    object
PRA                             object
Census Tract                   float64
Clearance Status                object
Clearance Date                  object
UCR Category                    object
Category Description            object
X-coordinate                   float64
Y-coordinate                   float64
Latitude                       float64
Longitude                      float64
Location                        object
dtype: object

In [7]:
# Find null values
for column in crime_df.columns:
  print(f"Column {column} has {crime_df[column].isnull().sum()} null values")

Column Incident Number has 0 null values
Column Highest Offense Description has 0 null values
Column Highest Offense Code has 0 null values
Column Family Violence has 0 null values
Column Occurred Date Time has 0 null values
Column Occurred Date has 0 null values
Column Occurred Time has 0 null values
Column Report Date Time has 0 null values
Column Report Date has 0 null values
Column Report Time has 0 null values
Column Location Type has 1803 null values
Column Address has 0 null values
Column Zip Code has 2765 null values
Column Council District has 5460 null values
Column APD Sector has 1339 null values
Column APD District has 1517 null values
Column PRA has 2137 null values
Column Census Tract has 4173 null values
Column Clearance Status has 64308 null values
Column Clearance Date has 64319 null values
Column UCR Category has 341458 null values
Column Category Description has 341458 null values
Column X-coordinate has 1972 null values
Column Y-coordinate has 1972 null values
Column Latitude has 10031 null values
Column Longitude has 10031 null values
Column Location has 10031 null values

In [8]:
# Drop null rows
crime_df = crime_df.dropna()

In [9]:
# Check for duplicates
print(f"Duplicate entries: {crime_df.duplicated().sum()}")

Duplicate entries: 0

In [10]:
# Save and export the cleaned data as csv file
file_path = "Resources/Austin_Crime_Report_Occurance_Reported_2017_to_2022_cleaned.csv"
crime_df.to_csv(file_path, index=False)

# Merge To Postgres

In [11]:
# Create a connection string
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/crime_data"

In [12]:
# Create database engine
engine = create_engine(db_string)

In [13]:
# Save the DataFrame to SQL table
crime_df.to_sql(name='crime', con=engine)

912