In [1]:
# Import Dependencies
import csv
import json
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from config import db_password

In [2]:
# Load in the data set from local Resources folder
file_path = "Resources/Austin_Crime_Report_Occurance_Reported_2017_to_2022_cleaned.csv"
crime_df = pd.read_csv(file_path, low_memory=False)
crime_df.head()

,Incident Number,Highest Offense Description,Highest Offense Code,Family Violence,Occurred Date Time,Occurred Date,Occurred Time,Report Date Time,Report Date,Report Time,...,Census Tract,Clearance Status,Clearance Date,UCR Category,Category Description,X-coordinate,Y-coordinate,Latitude,Longitude,Location
0,2017471291,THEFT,600,N,02/16/2017 06:00:00 PM,02/16/2017,1800,02/16/2017 06:22:00 PM,02/16/2017,1822,...,21.00,N,03/29/2017,23H,Theft,3128234.0,3128234.0,30.274788,-97.698514,"(30.27478825, -97.69851396)"
1,20172171183,THEFT BY SHOPLIFTING,607,N,08/05/2017 06:00:00 PM,08/05/2017,1800,08/05/2017 06:00:00 PM,08/05/2017,1800,...,19.10,C,08/05/2017,23C,Theft,3094135.0,3094135.0,30.257886,-97.807007,"(30.25788603, -97.80700704)"
2,20205047456,THEFT BY SHOPLIFTING,607,N,11/20/2020 01:30:00 PM,11/20/2020,1330,11/20/2020 03:22:00 PM,11/20/2020,1522,...,24.37,N,11/23/2020,23C,Theft,3099306.0,3099306.0,30.162911,-97.793123,"(30.16291061, -97.79312325)"
3,20191441181,AUTO THEFT,700,N,05/23/2019 08:00:00 PM,05/23/2019,2000,05/24/2019 01:43:00 PM,05/24/2019,1343,...,6.00,N,07/02/2019,240,Auto Theft,3112186.0,3112186.0,30.284284,-97.749112,"(30.28428417, -97.74911194)"
4,20175050403,BURGLARY OF VEHICLE,601,N,12/19/2017 10:00:00 PM,12/19/2017,2200,12/20/2017 06:26:00 AM,12/20/2017,626,...,23.13,N,12/21/2017,23F,Theft,3118326.0,3118326.0,30.228133,-97.731168,"(30.22813316, -97.73116767)"

In [3]:
# Check that all rows have been imported to the DataFrame
crime_df.count()

Incident Number                200912
Highest Offense Description    200912
Highest Offense Code           200912
Family Violence                200912
Occurred Date Time             200912
Occurred Date                  200912
Occurred Time                  200912
Report Date Time               200912
Report Date                    200912
Report Time                    200912
Location Type                  200912
Address                        200912
Zip Code                       200912
Council District               200912
APD Sector                     200912
APD District                   200912
PRA                            200912
Census Tract                   200912
Clearance Status               200912
Clearance Date                 200912
UCR Category                   200912
Category Description           200912
X-coordinate                   200912
Y-coordinate                   200912
Latitude                       200912
Longitude                      200912
Location                       200912
dtype: int64

In [4]:
# Print list of columns 
crime_df.columns

Index(['Incident Number', 'Highest Offense Description',
       'Highest Offense Code', 'Family Violence', 'Occurred Date Time',
       'Occurred Date', 'Occurred Time', 'Report Date Time', 'Report Date',
       'Report Time', 'Location Type', 'Address', 'Zip Code',
       'Council District', 'APD Sector', 'APD District', 'PRA', 'Census Tract',
       'Clearance Status', 'Clearance Date', 'UCR Category',
       'Category Description', 'X-coordinate', 'Y-coordinate', 'Latitude',
       'Longitude', 'Location'],
      dtype='object')

In [5]:
# Drop unnecessary or redundant columns
crime_df = crime_df.drop(columns=["Highest Offense Description", "Occurred Date Time", "Report Date Time", "Address", "Category Description", "X-coordinate", "Y-coordinate", "Location"])

In [6]:
# Print updated list of columns 
crime_df.columns

Index(['Incident Number', 'Highest Offense Code', 'Family Violence',
       'Occurred Date', 'Occurred Time', 'Report Date', 'Report Time',
       'Location Type', 'Zip Code', 'Council District', 'APD Sector',
       'APD District', 'PRA', 'Census Tract', 'Clearance Status',
       'Clearance Date', 'UCR Category', 'Latitude', 'Longitude'],
      dtype='object')

In [7]:
# Check to make sure it's loaded in correctly
crime_df.sample(5)

,Incident Number,Highest Offense Code,Family Violence,Occurred Date,Occurred Time,Report Date,Report Time,Location Type,Zip Code,Council District,APD Sector,APD District,PRA,Census Tract,Clearance Status,Clearance Date,UCR Category,Latitude,Longitude
32783,20225018670,601,N,06/24/2022,1330,06/29/2022,1352,PARK / PLAYGROUND,78703.0,10.0,BA,7,340,16.00,N,06/30/2022,23F,30.313938,-97.770327
77798,20192000537,600,N,07/19/2019,837,07/19/2019,1238,GROCERY / SUPERMARKET,78758.0,4.0,ED,1,238,406.00,N,07/29/2019,23H,30.364991,-97.697902
6817,20225009263,600,N,03/21/2022,0,03/21/2022,0,RESIDENCE / HOME,78744.0,2.0,FR,5,493,24.11,N,03/30/2022,23H,30.195177,-97.749969
96505,20172671513,402,N,09/24/2017,2134,09/24/2017,2134,PARK / PLAYGROUND,78704.0,9.0,DA,1,438,13.11,C,09/25/2017,13A,30.263022,-97.752152
73848,20175008684,601,N,03/01/2017,830,03/01/2017,1643,HWY / ROAD / ALLEY/ STREET/ SIDEWALK,78731.0,10.0,BA,8,273,306.00,N,03/02/2017,23F,30.353107,-97.757936

In [8]:
# Save and export the cleaned data as csv file
file_path = "Resources/Austin_Crime_Report_Occurance_Reported_2017_to_2022_dropped_columns.csv"
crime_df.to_csv(file_path, index=False)

## Loading in dataset with dropped columns to create new dataset without Family Violence column

In [9]:
# Load in the data set from local Resources folder
file_path = "Resources/Austin_Crime_Report_Occurance_Reported_2017_to_2022_dropped_columns.csv"
crime_df = pd.read_csv(file_path, low_memory=False)
crime_df.head()

,Incident Number,Highest Offense Code,Family Violence,Occurred Date,Occurred Time,Report Date,Report Time,Location Type,Zip Code,Council District,APD Sector,APD District,PRA,Census Tract,Clearance Status,Clearance Date,UCR Category,Latitude,Longitude
0,2017471291,600,N,02/16/2017,1800,02/16/2017,1822,PARKING /DROP LOT/ GARAGE,78721.0,1.0,CH,4,424,21.00,N,03/29/2017,23H,30.274788,-97.698514
1,20172171183,607,N,08/05/2017,1800,08/05/2017,1800,SHOPPING MALL,78746.0,8.0,DA,5,462,19.10,C,08/05/2017,23C,30.257886,-97.807007
2,20205047456,607,N,11/20/2020,1330,11/20/2020,1522,DEPARTMENT / DISCOUNT STORE,78748.0,5.0,FR,2,666,24.37,N,11/23/2020,23C,30.162911,-97.793123
3,20191441181,700,N,05/23/2019,2000,05/24/2019,1343,PARKING /DROP LOT/ GARAGE,78705.0,9.0,BA,2,358,6.00,N,07/02/2019,240,30.284284,-97.749112
4,20175050403,601,N,12/19/2017,2200,12/20/2017,626,PARKING /DROP LOT/ GARAGE,78741.0,3.0,HE,2,483,23.13,N,12/21/2017,23F,30.228133,-97.731168

In [10]:
# Drop unnecessary or redundant columns
crime_df = crime_df.drop(columns=["Family Violence"])

In [11]:
# Print updated list of columns 
crime_df.columns

Index(['Incident Number', 'Highest Offense Code', 'Occurred Date',
       'Occurred Time', 'Report Date', 'Report Time', 'Location Type',
       'Zip Code', 'Council District', 'APD Sector', 'APD District', 'PRA',
       'Census Tract', 'Clearance Status', 'Clearance Date', 'UCR Category',
       'Latitude', 'Longitude'],
      dtype='object')

In [12]:
# Check to make sure it's loaded in correctly
crime_df.sample(5)

,Incident Number,Highest Offense Code,Occurred Date,Occurred Time,Report Date,Report Time,Location Type,Zip Code,Council District,APD Sector,APD District,PRA,Census Tract,Clearance Status,Clearance Date,UCR Category,Latitude,Longitude
23346,20222061075,607,07/25/2022,1808,07/25/2022,1808,SPECIALTY STORE,78757.0,7.0,BA,6,259,15.0,C,07/25/2022,23C,30.355473,-97.733542
161915,20205032663,609,08/09/2020,2300,08/20/2020,1155,RESIDENCE / HOME,78753.0,7.0,ED,6,206,439.0,N,08/24/2020,23H,30.394960,-97.652823
4361,20228003431,601,02/23/2022,1830,02/25/2022,1250,RESIDENCE / HOME,78741.0,3.0,HE,2,441,23.0,N,03/01/2022,23F,30.238950,-97.720753
185497,20202900232,502,10/16/2020,608,10/16/2020,608,OTHER / UNKNOWN,78758.0,7.0,ED,4,2213,419.0,N,10/27/2020,220,30.388320,-97.684067
151726,2020770212,600,03/17/2020,520,03/17/2020,546,RESIDENCE / HOME,78758.0,4.0,ED,2,249,401.0,N,03/25/2020,23H,30.353886,-97.707485

In [13]:
# Save and export the cleaned data as csv file
file_path = "Resources/Austin_Crime_Report_Occurance_Reported_2017_to_2022_dropped_family_violence.csv"
crime_df.to_csv(file_path, index=False)

## Loading in dataset with dropped columns to create new dataset with only Family Violence and Location column

In [14]:
# Load in the data set from local Resources folder
# file_path = "Resources/Austin_Crime_Report_Occurance_Reported_2017_to_2022_dropped_columns.csv"
# crime_df = pd.read_csv(file_path, low_memory=False)
# crime_df.head()

In [15]:
# Drop unnecessary or redundant columns
# crime_df = crime_df.drop(columns=["Incident Number", "Highest Offense Code", "Occurred Date", "Occurred Time", "Report Date", "Report Time", "Location Type", "Council District", "APD Sector", "APD District", "PRA", "Census Tract", "Clearance Status", "Clearance Date", "UCR Category", "Latitude", "Longitude"])

In [16]:
# Print updated list of columns 
#crime_df.columns

In [17]:
# Check to make sure it's loaded in correctly
#crime_df.sample(5)

In [18]:
# Save and export the cleaned data as csv file
# file_path = "Resources/Austin_Crime_Report_Occurance_Reported_2017_to_2022_only_family_violence.csv"
#crime_df.to_csv(file_path, index=False)

# Merge To Postgres

In [19]:
# Create a connection string
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/crime_data"

In [20]:
# Create database engine
engine = create_engine(db_string)

In [21]:
# Save the DataFrame to SQL table
# crime_df.to_sql(name='crime', con=engine)

# Save the DataFrame to SQL table
# crime_df.to_sql(name='family violence', con=engine)

In [22]:
# Save the DataFrame to SQL table
crime_df.to_sql(name='crime reports', con=engine)

912