# Machine Learning Models for Austin Crime Data

## Setup and Imports
Not on imports: if using Windows OS, run in Jupyter Notebook, if using Mac OS, run in Google Colab Notebook (tensorflow will not work with Mac's M1 chip)

In [ ]:
# Import Dependencies
import csv
import io
import os
import pandas as pd
import numpy as np
from datetime import datetime, date, time
from sqlalchemy import create_engine
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow.keras.callbacks import ModelCheckpoint
from m_config import db_password

In [ ]:
# Read in data from PostgreSQL table and load into a pandas DataFrame
# Create a connection string
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/crime_data"

# Create database engine
engine = create_engine(db_string)

# Connect to PostgreSQL server
dbConnection = engine.connect()

# Read data from PostgreSQL database table and load into a DataFrame instance
crime_df = pd.read_sql("SELECT * FROM crime", dbConnection)

# Show DataFrame
crime_df.head()

# Close the database connection
# dbConnection.close()

,index,Incident Number,Highest Offense Description,Highest Offense Code,Family Violence,Occurred Date Time,Occurred Date,Occurred Time,Report Date Time,Report Date,...,Census Tract,Clearance Status,Clearance Date,UCR Category,Category Description,X-coordinate,Y-coordinate,Latitude,Longitude,Location
0,0,2.017471e+09,THEFT,600,N,2/16/17 18:00,2/16/17,1800,2/16/17 18:22,2/16/17,...,21.00,N,3/29/17,23H,Theft,3128234.0,3128234.0,30.274788,-97.698514,"(30.27478825, -97.69851396)"
1,1,2.017217e+10,THEFT BY SHOPLIFTING,607,N,8/5/17 18:00,8/5/17,1800,8/5/17 18:00,8/5/17,...,19.10,C,8/5/17,23C,Theft,3094135.0,3094135.0,30.257886,-97.807007,"(30.25788603, -97.80700704)"
2,5,2.020505e+10,THEFT BY SHOPLIFTING,607,N,11/20/20 13:30,11/20/20,1330,11/20/20 15:22,11/20/20,...,24.37,N,11/23/20,23C,Theft,3099306.0,3099306.0,30.162911,-97.793123,"(30.16291061, -97.79312325)"
3,6,2.019144e+10,AUTO THEFT,700,N,5/23/19 20:00,5/23/19,2000,5/24/19 13:43,5/24/19,...,6.00,N,7/2/19,240,Auto Theft,3112186.0,3112186.0,30.284284,-97.749112,"(30.28428417, -97.74911194)"
4,9,2.017505e+10,BURGLARY OF VEHICLE,601,N,12/19/17 22:00,12/19/17,2200,12/20/17 6:26,12/20/17,...,23.13,N,12/21/17,23F,Theft,3118326.0,3118326.0,30.228133,-97.731168,"(30.22813316, -97.73116767)"

In [ ]:
# Check that all rows have been imported to the DataFrame
crime_df.count()

index                          200912
Incident Number                200912
Highest Offense Description    200912
Highest Offense Code           200912
Family Violence                200912
Occurred Date Time             200912
Occurred Date                  200912
Occurred Time                  200912
Report Date Time               200912
Report Date                    200912
Report Time                    200912
Location Type                  200912
Address                        200912
Zip Code                       200912
Council District               200912
APD Sector                     200912
APD District                   200912
PRA                            200912
Census Tract                   200912
Clearance Status               200912
Clearance Date                 200912
UCR Category                   200912
Category Description           200912
X-coordinate                   200912
Y-coordinate                   200912
Latitude                       200912
Longitude                      200912
Location                       200912
dtype: int64


## Exploratory Data Analysis

In [ ]:
# Print column names, data types, and check for null values
crime_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200912 entries, 0 to 200911
Data columns (total 28 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   index                        200912 non-null  int64
 1   Incident Number              200912 non-null  float64
 2   Highest Offense Description  200912 non-null  object
 3   Highest Offense Code         200912 non-null  int64
 4   Family Violence              200912 non-null  object
 5   Occurred Date Time           200912 non-null  object
 6   Occurred Date                200912 non-null  object
 7   Occurred Time                200912 non-null  int64
 8   Report Date Time             200912 non-null  object
 9   Report Date                  200912 non-null  object
 10  Report Time                  200912 non-null  int64
 11  Location Type                200912 non-null  object
 12  Address                      200912 non-null  object
 13  Zip Code                     200912 non-null  float64
 14  Council District             200912 non-null  float64
 15  APD Sector                   200912 non-null  object
 16  APD District                 200912 non-null  object
 17  PRA                          200912 non-null  object
 18  Census Tract                 200912 non-null  float64
 19  Clearance Status             200912 non-null  object
 20  Clearance Date               200912 non-null  object
 21  UCR Category                 200912 non-null  object
 22  Category Description         200912 non-null  object
 23  X-coordinate                 200912 non-null  float64
 24  Y-coordinate                 200912 non-null  float64
 25  Latitude                     200912 non-null  float64
 26  Longitude                    200912 non-null  float64
 27  Location                     200912 non-null  object
dtypes: float64(8), int64(4), object(16)
memory usage: 42.9+ MB

In [ ]:
# Check for duplicates 
print(f"Duplicate entries: {crime_df.duplicated().sum()}")

Duplicate entries: 0

In [ ]:
# Determine the number of unique values in each column
crime_df.nunique()

index                          200912
Incident Number                200904
Highest Offense Description        51
Highest Offense Code               44
Family Violence                     2
Occurred Date Time             148024
Occurred Date                    2099
Occurred Time                    1440
Report Date Time               191584
Report Date                      2099
Report Time                      1440
Location Type                      45
Address                         52315
Zip Code                           50
Council District                   10
APD Sector                         12
APD District                       15
PRA                               500
Census Tract                      236
Clearance Status                    3
Clearance Date                   2118
UCR Category                       14
Category Description                7
X-coordinate                    34421
Y-coordinate                    34421
Latitude                        51434
Longitude                       51396
Location                        51476
dtype: int64

In [ ]:
# Drop unnecessary or redundant columns
crime_df = crime_df.drop(columns=["index", "Highest Offense Description", "Occurred Date Time", "Report Date Time", "Address", "Category Description", "X-coordinate", "Y-coordinate", "Location"])
crime_df.head()

,Incident Number,Highest Offense Code,Family Violence,Occurred Date,Occurred Time,Report Date,Report Time,Location Type,Zip Code,Council District,APD Sector,APD District,PRA,Census Tract,Clearance Status,Clearance Date,UCR Category,Latitude,Longitude
0,2.017471e+09,600,N,2/16/17,1800,2/16/17,1822,PARKING /DROP LOT/ GARAGE,78721.0,1.0,CH,4,424,21.00,N,3/29/17,23H,30.274788,-97.698514
1,2.017217e+10,607,N,8/5/17,1800,8/5/17,1800,SHOPPING MALL,78746.0,8.0,DA,5,462,19.10,C,8/5/17,23C,30.257886,-97.807007
2,2.020505e+10,607,N,11/20/20,1330,11/20/20,1522,DEPARTMENT / DISCOUNT STORE,78748.0,5.0,FR,2,666,24.37,N,11/23/20,23C,30.162911,-97.793123
3,2.019144e+10,700,N,5/23/19,2000,5/24/19,1343,PARKING /DROP LOT/ GARAGE,78705.0,9.0,BA,2,358,6.00,N,7/2/19,240,30.284284,-97.749112
4,2.017505e+10,601,N,12/19/17,2200,12/20/17,626,PARKING /DROP LOT/ GARAGE,78741.0,3.0,HE,2,483,23.13,N,12/21/17,23F,30.228133,-97.731168

In [ ]:
# Print out categorical variables value counts to determine encoding method
PRA_counts = crime_df["PRA"].value_counts()
PRA_counts

# Visualize value counts
# county_counts.plot.density()

206    3271
441    2971
900    2665
382    2612
201    2589
       ...
20        1
747       1
170       1
533       1
737       1
Name: PRA, Length: 500, dtype: int64

## Preprocessing

### Encode Categorical Features

In [ ]:
# Convert date features to datetime data type
crime_df["Occurred Date"] = pd.to_datetime(crime_df["Occurred Date"])
crime_df["Report Date"] = pd.to_datetime(crime_df["Report Date"])
crime_df["Clearance Date"] = pd.to_datetime(crime_df["Clearance Date"])

# Create new features from the date columns
crime_df["Occurred Day"] = crime_df["Occurred Date"].dt.day
crime_df["Occurred Month"] = crime_df["Occurred Date"].dt.month
crime_df["Occurred Year"] = crime_df["Occurred Date"].dt.year
crime_df["Report Day"] = crime_df["Report Date"].dt.day
crime_df["Report Month"] = crime_df["Report Date"].dt.month
crime_df["Report Year"] = crime_df["Report Date"].dt.year
crime_df["Clearance Day"] = crime_df["Clearance Date"].dt.day
crime_df["Clearance Month"] = crime_df["Clearance Date"].dt.month
crime_df["Clearance Year"] = crime_df["Clearance Date"].dt.year

# Drop original date columns
crime_df = crime_df.drop(columns=["Occurred Date", "Report Date", "Clearance Date"])
crime_df.head()

,Incident Number,Highest Offense Code,Family Violence,Occurred Time,Report Time,Location Type,Zip Code,Council District,APD Sector,APD District,...,Longitude,Occurred Day,Occurred Month,Occurred Year,Report Day,Report Month,Report Year,Clearance Day,Clearance Month,Clearance Year
0,2.017471e+09,600,N,1800,1822,PARKING /DROP LOT/ GARAGE,78721.0,1.0,CH,4,...,-97.698514,16,2,2017,16,2,2017,29,3,2017
1,2.017217e+10,607,N,1800,1800,SHOPPING MALL,78746.0,8.0,DA,5,...,-97.807007,5,8,2017,5,8,2017,5,8,2017
2,2.020505e+10,607,N,1330,1522,DEPARTMENT / DISCOUNT STORE,78748.0,5.0,FR,2,...,-97.793123,20,11,2020,20,11,2020,23,11,2020
3,2.019144e+10,700,N,2000,1343,PARKING /DROP LOT/ GARAGE,78705.0,9.0,BA,2,...,-97.749112,23,5,2019,24,5,2019,2,7,2019
4,2.017505e+10,601,N,2200,626,PARKING /DROP LOT/ GARAGE,78741.0,3.0,HE,2,...,-97.731168,19,12,2017,20,12,2017,21,12,2017

In [ ]:
# Reorder columns for clarity
crime_df = crime_df[["Incident Number", "Highest Offense Code", 
                     "Occurred Time", "Occurred Day", "Occurred Month", "Occurred Year",
                     "Report Time", "Report Day", "Report Month", "Report Year",
                     "Clearance Status", "Clearance Day", "Clearance Month", "Clearance Year",
                     "Location Type", "Zip Code", "Council District", "APD Sector", "APD District",
                     "PRA", "Census Tract", "UCR Category", "Latitude", "Longitude", "Family Violence"]]
crime_df.head()

,Incident Number,Highest Offense Code,Occurred Time,Occurred Day,Occurred Month,Occurred Year,Report Time,Report Day,Report Month,Report Year,...,Zip Code,Council District,APD Sector,APD District,PRA,Census Tract,UCR Category,Latitude,Longitude,Family Violence
0,2.017471e+09,600,1800,16,2,2017,1822,16,2,2017,...,78721.0,1.0,CH,4,424,21.00,23H,30.274788,-97.698514,N
1,2.017217e+10,607,1800,5,8,2017,1800,5,8,2017,...,78746.0,8.0,DA,5,462,19.10,23C,30.257886,-97.807007,N
2,2.020505e+10,607,1330,20,11,2020,1522,20,11,2020,...,78748.0,5.0,FR,2,666,24.37,23C,30.162911,-97.793123,N
3,2.019144e+10,700,2000,23,5,2019,1343,24,5,2019,...,78705.0,9.0,BA,2,358,6.00,240,30.284284,-97.749112,N
4,2.017505e+10,601,2200,19,12,2017,626,20,12,2017,...,78741.0,3.0,HE,2,483,23.13,23F,30.228133,-97.731168,N

In [ ]:
# Encode "Location Type" feature
# Create LabelEncoder instance
le = LabelEncoder()

# Fit and transform the LabelEncoder
crime_df["Location Type"] = le.fit_transform(crime_df["Location Type"])

# Print dictionary of encoded features
le_location_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
print(le_location_mapping)

{'ABANDONED/CONDEMNED STRUCTURE': 0, 'AIR / BUS / TRAIN TERMINAL': 1, 'AMUSEMENT PARK': 2, 'ARENA / STADIUM / FAIRGROUNDS / COLISEUM': 3, 'ATM SEPARATE FROM BANK': 4, 'AUTO DEALERSHIP NEW / USED': 5, 'BANK / SAVINGS & LOAN': 6, 'BAR / NIGHTCLUB': 7, 'CAMP / CAMPGROUND': 8, 'CHURCH / SYNAGOGUE / TEMPLE / MOSQUE': 9, 'COMMERCIAL / OFFICE BUILDING': 10, 'COMMUNITY CENTER': 11, 'CONSTRUCTION SITE': 12, 'CONVENIENCE STORE': 13, 'DAYCARE FACILITY': 14, 'DEPARTMENT / DISCOUNT STORE': 15, 'DOCK / WHARF / FREIGHT / MODAL TERMINAL': 16, "DRUG STORE / DOCTOR'S OFFICE / HOSPITAL": 17, 'FARM FACILITY': 18, 'FIELD / WOODS': 19, 'GAMBLING FACILITY / CASINO / RACE TRACK': 20, 'GOVERNMENT / PUBLIC BUILDING': 21, 'GROCERY / SUPERMARKET': 22, 'HOTEL / MOTEL / ETC.': 23, 'HWY / ROAD / ALLEY/ STREET/ SIDEWALK': 24, 'INDUSTRIAL SITE': 25, 'JAIL / PRISON/PENITENTIARY/CORRECTIONS FACILITY': 26, 'LAKE / WATERWAY/BEACH': 27, 'LIQUOR STORE': 28, 'MILITARY INSTALLATION': 29, 'OTHER / UNKNOWN': 30, 'PARK / PLAYGROUND': 31, 'PARKING /DROP LOT/ GARAGE': 32, 'RENTAL STORAGE FACILITY': 33, 'RESIDENCE / HOME': 34, 'REST AREA': 35, 'RESTAURANT': 36, 'SCHOOL - COLLEGE / UNIVERSITY': 37, 'SCHOOL - ELEMENTARY / SECONDARY': 38, 'SCHOOL/COLLEGE': 39, 'SERVICE/ GAS STATION': 40, 'SHELTER-MISSION / HOMELESS': 41, 'SHOPPING MALL': 42, 'SPECIALTY  STORE': 43, 'TRIBAL LANDS': 44}

In [ ]:
# Encode "PRA" feature
# Fit and transform the LabelEncoder
crime_df.PRA = le.fit_transform(crime_df.PRA)

# Print dictionary of encoded features
le_PRA_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
print(le_PRA_mapping)

{'1': 0, '100': 1, '101': 2, '103': 3, '104': 4, '105': 5, '118': 6, '14': 7, '15': 8, '151': 9, '152': 10, '153': 11, '154': 12, '155': 13, '159': 14, '1599': 15, '16': 16, '161': 17, '162': 18, '163': 19, '164': 20, '1641': 21, '165': 22, '167': 23, '168': 24, '169': 25, '170': 26, '171': 27, '172': 28, '173': 29, '174': 30, '1753': 31, '177': 32, '178': 33, '179': 34, '180': 35, '1801': 36, '181': 37, '182': 38, '183': 39, '184': 40, '1851': 41, '186': 42, '187': 43, '188': 44, '189': 45, '190': 46, '191': 47, '192': 48, '193': 49, '194': 50, '195': 51, '196': 52, '197': 53, '198': 54, '199': 55, '20': 56, '200': 57, '201': 58, '202': 59, '203': 60, '204': 61, '205': 62, '206': 63, '2081': 64, '21': 65, '210': 66, '211': 67, '212': 68, '213': 69, '214': 70, '215': 71, '216': 72, '217': 73, '218': 74, '219': 75, '2201': 76, '2202': 77, '221': 78, '2211': 79, '2212': 80, '2213': 81, '222': 82, '223': 83, '224': 84, '225': 85, '226': 86, '227': 87, '229': 88, '23': 89, '230': 90, '231': 91, '232': 92, '233': 93, '234': 94, '235': 95, '236': 96, '237': 97, '238': 98, '239': 99, '24': 100, '240': 101, '241': 102, '242': 103, '243': 104, '244': 105, '245': 106, '246': 107, '247': 108, '248': 109, '249': 110, '250': 111, '251': 112, '252': 113, '253': 114, '254': 115, '255': 116, '256': 117, '257': 118, '258': 119, '259': 120, '260': 121, '261': 122, '262': 123, '263': 124, '264': 125, '265': 126, '266': 127, '267': 128, '268': 129, '269': 130, '270': 131, '271': 132, '2711': 133, '273': 134, '274': 135, '275': 136, '276': 137, '277': 138, '278': 139, '279': 140, '28': 141, '280': 142, '282': 143, '283': 144, '284': 145, '285': 146, '286': 147, '287': 148, '288': 149, '289': 150, '29': 151, '290': 152, '291': 153, '292': 154, '293': 155, '294': 156, '295': 157, '296': 158, '297': 159, '298': 160, '299': 161, '300': 162, '301': 163, '302': 164, '303': 165, '304': 166, '305': 167, '306': 168, '307': 169, '308': 170, '309': 171, '313': 172, '314': 173, '315': 174, '316': 175, '317': 176, '318': 177, '319': 178, '320': 179, '321': 180, '322': 181, '323': 182, '324': 183, '325': 184, '326': 185, '327': 186, '328': 187, '329': 188, '330': 189, '331': 190, '332': 191, '333': 192, '334': 193, '335': 194, '339': 195, '340': 196, '341': 197, '342': 198, '343': 199, '344': 200, '345': 201, '346': 202, '347': 203, '348': 204, '349': 205, '350': 206, '351': 207, '352': 208, '353': 209, '354': 210, '355': 211, '356': 212, '357': 213, '358': 214, '359': 215, '360': 216, '361': 217, '362': 218, '363': 219, '367': 220, '368': 221, '369': 222, '370': 223, '371': 224, '372': 225, '373': 226, '374': 227, '375': 228, '376': 229, '377': 230, '378': 231, '379': 232, '380': 233, '381': 234, '382': 235, '383': 236, '384': 237, '385': 238, '386': 239, '387': 240, '388': 241, '389': 242, '39': 243, '390': 244, '391': 245, '392': 246, '393': 247, '394': 248, '395': 249, '396': 250, '397': 251, '398': 252, '399': 253, '402': 254, '403': 255, '404': 256, '405': 257, '406': 258, '407': 259, '408': 260, '409': 261, '410': 262, '4101': 263, '411': 264, '412': 265, '413': 266, '414': 267, '415': 268, '416': 269, '417': 270, '418': 271, '419': 272, '420': 273, '421': 274, '422': 275, '423': 276, '424': 277, '425': 278, '426': 279, '427': 280, '428': 281, '429': 282, '431': 283, '433': 284, '436': 285, '437': 286, '438': 287, '439': 288, '440': 289, '441': 290, '442': 291, '443': 292, '444': 293, '445': 294, '448': 295, '449': 296, '450': 297, '451': 298, '452': 299, '453': 300, '454': 301, '455': 302, '456': 303, '457': 304, '458': 305, '459': 306, '460': 307, '461': 308, '462': 309, '463': 310, '464': 311, '465': 312, '466': 313, '467': 314, '468': 315, '469': 316, '470': 317, '471': 318, '472': 319, '473': 320, '474': 321, '475': 322, '476': 323, '477': 324, '478': 325, '479': 326, '48': 327, '480': 328, '481': 329, '482': 330, '483': 331, '484': 332, '485': 333, '486': 334, '487': 335, '488': 336, '489': 337, '490': 338, '491': 339, '492': 340, '493': 341, '494': 342, '495': 343, '496': 344, '497': 345, '498': 346, '499': 347, '500': 348, '501': 349, '502': 350, '504': 351, '505': 352, '506': 353, '507': 354, '508': 355, '509': 356, '510': 357, '511': 358, '512': 359, '513': 360, '514': 361, '515': 362, '516': 363, '517': 364, '518': 365, '519': 366, '520': 367, '525': 368, '526': 369, '527': 370, '528': 371, '529': 372, '53': 373, '530': 374, '531': 375, '532': 376, '533': 377, '535': 378, '536': 379, '537': 380, '538': 381, '54': 382, '541': 383, '542': 384, '543': 385, '544': 386, '546': 387, '547': 388, '549': 389, '554': 390, '56': 391, '57': 392, '573': 393, '574': 394, '576': 395, '5771': 396, '5772': 397, '58': 398, '59': 399, '592': 400, '60': 401, '600': 402, '601': 403, '602': 404, '6063': 405, '608': 406, '609': 407, '61': 408, '610': 409, '611': 410, '612': 411, '6201': 412, '6202': 413, '63': 414, '634': 415, '6412': 416, '645': 417, '650': 418, '651': 419, '652': 420, '653': 421, '654': 422, '655': 423, '656': 424, '666': 425, '67': 426, '68': 427, '695': 428, '696': 429, '711': 430, '7281': 431, '734': 432, '735': 433, '736': 434, '737': 435, '738': 436, '739': 437, '74': 438, '747': 439, '748': 440, '75': 441, '750': 442, '755': 443, '756': 444, '759': 445, '76': 446, '761': 447, '763': 448, '766': 449, '767': 450, '77': 451, '778': 452, '78': 453, '787': 454, '79': 455, '796': 456, '797': 457, '80': 458, '804': 459, '805': 460, '81': 461, '82': 462, '826': 463, '827': 464, '828': 465, '829': 466, '83': 467, '831': 468, '835': 469, '836': 470, '837': 471, '838': 472, '84': 473, '843': 474, '844': 475, '847': 476, '848': 477, '85': 478, '86': 479, '87': 480, '88': 481, '885': 482, '887': 483, '89': 484, '894': 485, '900': 486, '92': 487, '9209': 488, '93': 489, '94': 490, '95': 491, '96': 492, '963': 493, '9701': 494, '974': 495, '975': 496, '98': 497, '981': 498, '99': 499}

In [ ]:
# Encode other categorical features
# Generate the categorical variable list
crime_cat = crime_df.dtypes[crime_df.dtypes == "object"].index.tolist()

# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variables list
encode_df = pd.DataFrame(enc.fit_transform(crime_df[crime_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(crime_cat)

# Merge one-hot encoded features and drop originals
crime_df = crime_df.merge(encode_df, left_index=True, right_index=True)
crime_df = crime_df.drop(crime_cat, 1)
crime_df.head()

/Users/mschimmel/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
/var/folders/w8/yxyq7bd14s76zch5v_3t36n80000gp/T/ipykernel_39375/3396673004.py:16: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  crime_df = crime_df.drop(crime_cat, 1)

,Incident Number,Highest Offense Code,Occurred Time,Occurred Day,Occurred Month,Occurred Year,Report Time,Report Day,Report Month,Report Year,...,UCR Category_23B,UCR Category_23C,UCR Category_23D,UCR Category_23E,UCR Category_23F,UCR Category_23G,UCR Category_23H,UCR Category_240,Family Violence_N,Family Violence_Y
0,2.017471e+09,600,1800,16,2,2017,1822,16,2,2017,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,2.017217e+10,607,1800,5,8,2017,1800,5,8,2017,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,2.020505e+10,607,1330,20,11,2020,1522,20,11,2020,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,2.019144e+10,700,2000,23,5,2019,1343,24,5,2019,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
4,2.017505e+10,601,2200,19,12,2017,626,20,12,2017,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
# Check there are no categorical features
crime_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200912 entries, 0 to 200911
Data columns (total 66 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Incident Number       200912 non-null  float64
 1   Highest Offense Code  200912 non-null  int64
 2   Occurred Time         200912 non-null  int64
 3   Occurred Day          200912 non-null  int64
 4   Occurred Month        200912 non-null  int64
 5   Occurred Year         200912 non-null  int64
 6   Report Time           200912 non-null  int64
 7   Report Day            200912 non-null  int64
 8   Report Month          200912 non-null  int64
 9   Report Year           200912 non-null  int64
 10  Clearance Day         200912 non-null  int64
 11  Clearance Month       200912 non-null  int64
 12  Clearance Year        200912 non-null  int64
 13  Location Type         200912 non-null  int64
 14  Zip Code              200912 non-null  float64
 15  Council District      200912 non-null  float64
 16  PRA                   200912 non-null  int64
 17  Census Tract          200912 non-null  float64
 18  Latitude              200912 non-null  float64
 19  Longitude             200912 non-null  float64
 20  Clearance Status_C    200912 non-null  float64
 21  Clearance Status_N    200912 non-null  float64
 22  Clearance Status_O    200912 non-null  float64
 23  APD Sector_88         200912 non-null  float64
 24  APD Sector_AD         200912 non-null  float64
 25  APD Sector_AP         200912 non-null  float64
 26  APD Sector_BA         200912 non-null  float64
 27  APD Sector_CH         200912 non-null  float64
 28  APD Sector_DA         200912 non-null  float64
 29  APD Sector_ED         200912 non-null  float64
 30  APD Sector_FR         200912 non-null  float64
 31  APD Sector_GE         200912 non-null  float64
 32  APD Sector_HE         200912 non-null  float64
 33  APD Sector_ID         200912 non-null  float64
 34  APD Sector_UT         200912 non-null  float64
 35  APD District_1        200912 non-null  float64
 36  APD District_2        200912 non-null  float64
 37  APD District_3        200912 non-null  float64
 38  APD District_4        200912 non-null  float64
 39  APD District_5        200912 non-null  float64
 40  APD District_6        200912 non-null  float64
 41  APD District_7        200912 non-null  float64
 42  APD District_8        200912 non-null  float64
 43  APD District_88       200912 non-null  float64
 44  APD District_A        200912 non-null  float64
 45  APD District_B        200912 non-null  float64
 46  APD District_C        200912 non-null  float64
 47  APD District_D        200912 non-null  float64
 48  APD District_P        200912 non-null  float64
 49  APD District_S        200912 non-null  float64
 50  UCR Category_09A      200912 non-null  float64
 51  UCR Category_11C      200912 non-null  float64
 52  UCR Category_120      200912 non-null  float64
 53  UCR Category_13A      200912 non-null  float64
 54  UCR Category_220      200912 non-null  float64
 55  UCR Category_23A      200912 non-null  float64
 56  UCR Category_23B      200912 non-null  float64
 57  UCR Category_23C      200912 non-null  float64
 58  UCR Category_23D      200912 non-null  float64
 59  UCR Category_23E      200912 non-null  float64
 60  UCR Category_23F      200912 non-null  float64
 61  UCR Category_23G      200912 non-null  float64
 62  UCR Category_23H      200912 non-null  float64
 63  UCR Category_240      200912 non-null  float64
 64  Family Violence_N     200912 non-null  float64
 65  Family Violence_Y     200912 non-null  float64
dtypes: float64(52), int64(14)
memory usage: 101.2 MB

### Correlation and Independent Variable Testing

In [ ]:
# Create a correlation matrix (needs numeric data)
crime_df.corr()

,Incident Number,Highest Offense Code,Occurred Time,Occurred Day,Occurred Month,Occurred Year,Report Time,Report Day,Report Month,Report Year,...,UCR Category_23B,UCR Category_23C,UCR Category_23D,UCR Category_23E,UCR Category_23F,UCR Category_23G,UCR Category_23H,UCR Category_240,Family Violence_N,Family Violence_Y
Incident Number,1.000000,0.014689,-0.002078,0.015375,0.165538,0.005971,-0.001399,0.017267,0.170526,0.005816,...,0.001355,-0.009850,0.010160,0.002140,0.053965,0.021675,0.032137,-0.050321,0.033643,-0.033643
Highest Offense Code,0.014689,1.000000,-0.017076,-0.002615,0.012347,0.115295,-0.000613,-0.007524,0.008121,0.117160,...,-0.001577,-0.029936,-0.008776,-0.004811,-0.073329,-0.021572,0.238220,-0.007655,0.054193,-0.054193
Occurred Time,-0.002078,-0.017076,1.000000,0.005880,-0.007266,-0.066706,0.377585,0.002180,-0.006934,-0.068191,...,0.000264,0.085609,0.001959,-0.015232,0.024704,-0.030467,-0.003873,0.016282,0.002425,-0.002425
Occurred Day,0.015375,-0.002615,0.005880,1.000000,0.000071,-0.002034,0.004543,0.726415,0.000320,0.000073,...,-0.000819,0.000166,-0.001195,0.000279,-0.000148,0.001328,-0.003523,0.003729,0.001234,-0.001234
Occurred Month,0.165538,0.012347,-0.007266,0.000071,1.000000,-0.098287,-0.003701,0.001625,0.945290,-0.089007,...,0.001042,-0.010214,0.002652,0.003185,-0.006070,-0.003158,0.001363,0.002618,0.003269,-0.003269
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UCR Category_23G,0.021675,-0.021572,-0.030467,0.001328,-0.003158,0.119095,0.003342,0.001210,-0.002909,0.120373,...,-0.002954,-0.056538,-0.018094,-0.008719,-0.131930,1.000000,-0.129116,-0.065944,0.038993,-0.038993
UCR Category_23H,0.032137,0.238220,-0.003873,-0.003523,0.001363,-0.064409,0.050279,0.003963,0.001968,-0.060190,...,-0.008704,-0.166597,-0.053316,-0.025693,-0.388750,-0.129116,1.000000,-0.194314,0.100356,-0.100356
UCR Category_240,-0.050321,-0.007655,0.016282,0.003729,0.002618,0.098763,-0.020071,0.000853,0.002301,0.097501,...,-0.004446,-0.085087,-0.027231,-0.013122,-0.198549,-0.065944,-0.194314,1.000000,0.057675,-0.057675
Family Violence_N,0.033643,0.054193,0.002425,0.001234,0.003269,-0.001610,0.013000,0.001729,0.002674,-0.000840,...,0.002656,0.050840,0.015951,0.007841,0.117785,0.038993,0.100356,0.057675,1.000000,-1.000000
Family Violence_Y,-0.033643,-0.054193,-0.002425,-0.001234,-0.003269,0.001610,-0.013000,-0.001729,-0.002674,0.000840,...,-0.002656,-0.050840,-0.015951,-0.007841,-0.117785,-0.038993,-0.100356,-0.057675,-1.000000,1.000000

### Split the Dataset

In [ ]:
# Split the preprocessed data into the features and target arrays
y = crime_df["Family Violence_Y"].values
X = crime_df.drop(["Family Violence_Y", "Family Violence_N"], 1).values

# Split the preprocessed data into training and testing datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

/var/folders/w8/yxyq7bd14s76zch5v_3t36n80000gp/T/ipykernel_39375/3729923022.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = crime_df.drop(["Family Violence_Y", "Family Violence_N"], 1).values

### Scale the Data

In [ ]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Machine Learning Algorithms

### Logistic Regression Model

In [ ]:
# Define the logistic regression model
log_classifier = LogisticRegression(solver="lbfgs", max_iter=200, random_state=1)

In [ ]:
# Train the model
log_classifier.fit(X_train, y_train)

LogisticRegression(max_iter=200, random_state=1)

In [ ]:
# Evaluate the model
# Calculate the accuracy score
y_pred = log_classifier.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head()
print(f"Logistic regression model accuracy: {accuracy_score(y_test, y_pred):.3f}")

# Generate confusion matrix
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])
print(f"Confusion Matrix")
print(cm_df)

# Generate classification report
# print("Classification Report")
print(classification_report(y_test, y_pred, zero_division=0))

Logistic regression model accuracy: 0.966
Confusion Matrix
          Predicted 0  Predicted 1
Actual 0        48509            0
Actual 1         1719            0
              precision    recall  f1-score   support

         0.0       0.97      1.00      0.98     48509
         1.0       0.00      0.00      0.00      1719

    accuracy                           0.97     50228
   macro avg       0.48      0.50      0.49     50228
weighted avg       0.93      0.97      0.95     50228

### Random Forest Classifier Model

In [ ]:
# Create a Random Forest Classifier
rf_model = RandomForestClassifier(n_estimators=128, random_state=1)

In [ ]:
# Train the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [ ]:
# Evaluate the model
# Calculate the accuracy score
y_pred = rf_model.predict(X_test_scaled)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head()
print(f"Random forest predictive accuracy: {accuracy_score(y_test, y_pred):.3f}")

# Generate confusion matrix
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])
print(f"Confusion Matrix")
print(cm_df)

# Generate classification report
print("Classification Report")
print(classification_report(y_test, y_pred))

In [ ]:
# Calculate feature importance in the Random Forest Model
importances = rf_model.feature_importances_
importances

In [ ]:
# Sort features by their importance
sorted_indices = np.argsort(importances)[::-1]
feat_labels = crime_df.columns[1:]
for f in range(X_train.shape[1]):
    print("%2d) %-*s %f" % (f + 1, 30,
                           feat_labels[sorted_indices[f]],
                           importances[sorted_indices[f]]))

### Deep Learning Neural Network Model

In [ ]:
# Define the model
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 6
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the strucutre of the model
nn.summary()

In [ ]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn.fit(X_train, y_train, epochs=100)

In [ ]:
# Create a DataFrame containing training history
history_df = pd.DataFrame(fit_model.history, index=range(1, len(fit_model.history["loss"])+1))

# Plot the loss
history_df.plot(y="loss")

# Plot the accuracy
history_df.plot(y="accuracy")

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test, y_test, verbose=2)
print(f"Deep Learning Model Loss: {model_loss}, Accuracy {model_accuracy}")